<h1><%=@test.title%></h1>

<%= form_with(model: [:admin, @test]) do |form| %>
  <%= render 'shared/errors', resource: @test %>
  <p> 
    <%= form.label :title %><br>
    <%= form.text_field :title, value: @test.title %><br>
  </p>

  <p> 
    <%= form.label :level %><br>
    <%= form.number_field :level, value: @test.level %><br>
  </p>

  <p> 
     <%= form.label :category_id %><br>
     <%= form.collection_select  :category_id, Category.all, :id, :title, prompt: true, value: @test.category_id %><br>
  </p>

  <p> 
     <%= form.label :redy_for_publication %>
     <%= form.check_box  :redy_for_publication, {checked: true}, value: @test.redy_for_publication %><br>
  </p>

   <p> 
     <%= form.label :time_limit %>
     <%= form.text_field  :time_limit, value: @test.time_limit %><br>
  </p>

  <p><%= form.submit %></p>
<% end%>

<%=link_to t('.back'), admin_tests_path%>
