<tr>
  <td class="align-middle">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="align-middle"><%=test.level%></td>
  <td class="align-middle"><%=questions_amount(test)%></td>
  <td class="align-middle"> <%= render 'actions', resource: test %></td>              
</tr>
