<div class="container p-10">
  <div class="container">
    <h1><%= t('.header') %></h1>
  </div>

  <div class="container">
    <p>
      <a class="btn btn-primary" href="admin/tests/new" role="button"><%=t('.new_test') %></a>
    </p>
  </div>

  <div class="container">      
    <table class="table table-bordered  table-striped table-hover ">
      <thead class="table-primary ">
      <tr>
        <th><%= t('.title') %></th>
        <th><%= t('.level') %></th>
        <th><%= t('.question_amount') %></th>
        <th colspan="4"><%= t('.actions') %></th>
      </tr>
      </thead> 
      <%= render @tests %>      
    </table>
  </div>

</div>  
