<div class="container">
  <div class="container">
    <div class="d-flex justify-content-center">
    <h1><%= t('.header') %></h1>
  </div>
</div>

  <div class="container">
    <p>
      <a class="btn btn-primary" href="tests/new" role="button"><%=t('.new_test') %></a>
      <a class="btn btn-primary" href="gists" role="button"><%= t('.gists_table')%></a>
      <a class="btn btn-primary" href="badges" role="button"> Badges</a>
    </p>
  </div>
  <%= render 'shared/errors', resource: @test %>
  
  <div class="container">  
    <div class="d-flex align-items-start">    
      <table class="table table-bordered  table-striped table-hover ">
        <thead class="table-primary ">
        <tr>
          <th class="sort-by-title pointer">
            <%= t('.title') %>
            <%= octicon 'arrow-up',class: 'text-success hide' %>
            <%= octicon 'arrow-down',class: 'text-success hide' %>
          </th>
          <th><%= t('.level') %></th>
          <th><%= t('.question_amount') %></th>
          <th colspan="4"><%= t('.actions') %></th>
        </tr>
        </thead> 
        <%= render @tests %>      
      </table>
   </div>
  </div>
</div>  
