<h1><%=@test.title%></h1>
<%= form_with(model: [@test]) do |form| %>
<%= render 'shared/errors', resource: @test %>
<p> 
     <%= form.label :title %><br>
     <%= form.text_field :title, value: @test.title %><br>
     <%= form.label :level %><br>
     <%= form.number_field :level, value: @test.level %><br>
     <%= form.label :category_id %><br>
     <%= form.collection_select  :category_id, Category.all, :id, :title, prompt: true, value: @test.category_id %><br>
     <%= form.label :author_id %><br>
     <%= form.collection_select  :author_id, User.all, :id, :name, prompt: true, value: @test.author_id %><br>
</p>
<p><%= form.submit %></p>
<% end%>

<%=link_to 'Back', tests_path%>
