  <div class="container">
    <div class="d-flex justify-content-center">    
      <h1><%= t('tests.index.header') %></h1>
    </div>
  </div>

  <%if current_user && current_user.admin? %>
    <div class="container">
      <p>
       <a href="admin/tests" class="btn btn-primary" role="button"><%= t('.admin_direct') %></a>
      </p>
    </div>
  <%end%>
  
  <div class="container">
    <div class="d-flex align-items-start">  
      <table class="table table-bordered border-primary-subtle table-striped table-hover">
        <thead class="table-primary">
          <tr>
            <th class="sort-by-title pointer">
            <%= t('tests.index.title') %>
            <%= octicon 'arrow-up',class: 'text-success hide' %>
            <%= octicon 'arrow-down',class: 'text-success hide' %>
            </th>
            <th><%= t('tests.index.category') %></th>
            <th><%= t('tests.index.level') %></th>
            <th><%= t('tests.index.question_amount') %></th>
            <th><%= t('.start') %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @tests %>     
        </tbody>
      </table>
    </div>
  </div>
