<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <style type="text/css">
   #footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
   }
  </style>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class = "nav user"><%= link_to 'Test Guru', tests_path %> </div>
<div> New user? <%= link_to 'SignUp', signup_path %></div>
<div> <%= link_to 'Enter', login_path %></div>

    <% if logged_in? %>
      <p class = "headers">Welcome, <b><%= current_user.name %>, </b><%= link_to 'Guru', tests_path %></p>
       <p class = "nav user"> <%=link_to 'Logout', 
                    session_path(session),
                    method: :delete,
                    data: { confirm: 'Are you sure?'}%> 
      </p> 
    <% end %>

    <%= yield %>
    <%= render 'shared/footer'%>
  </body>
</html>
